/*------------------------------ Stylesheet ----------------------------*/

html, body{
    width:100%;
    height:100%;
    /*background-color:#000000;*/
    text-align: center;
}

h1, h2, h3{
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
}

p{
	font-family: 'Josefin Sans', sans-serif;
}
/*------------------------------ Intro ----------------------------*/


header {
    max-width: 100%;
    height: 100%;
}


#myCarousel {
    background: url(img/bg.jpg) no-repeat fixed;
}


.carousel-inner,.carousel,.item,.container,.fill {
  height:100%;
  width:100%;
  background-position:center center;
  background-size:cover;
}

.slide-wrapper{
	display:inline;
}

.slide-wrapper .container{
	padding:0px;
}

/* vertical bootstrap slider */

.carousel-inner > .item.next ,  .carousel-inner > .item.active.right{ 
	transform: translate3d(0, 100%, 0);
	-webkit-transform: translate3d(0, 100%, 0); 
	-ms-transform: translate3d(0, 100%, 0); 
	-moz-transform: translate3d(0, 100%, 0); 
	-o-transform: translate3d(0, 100%, 0);  
	top: 0;
}

.carousel-inner > .item.prev ,.carousel-inner > .item.active.left{ 
	transform: translate3d(0,-100%, 0); 
	-webkit-transform: translate3d(0,-100%, 0);  
	-moz-transform: translate3d(0,-100%, 0);
	-ms-transform: translate3d(0,-100%, 0);
	 -o-transform: translate3d(0,-100%, 0); 
	 top: 0;
}

.carousel-inner > .item.next.left , .carousel-inner > .item.prev.right , .carousel-inner > .item.active{
	transform:translate3d(0,0,0); 
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0); 
	-moz-transform:translate3d(0,0,0); 
	-o-transform:translate3d(0,0,0); 
	top:0;
}


#item-first{
	background-color:#678c56;
}

#item-second{
	background-color:#ffaa90;
}

#item-third{
	background-color:#b7ce93;
}

#item-fourth{
	background-color:#f59b99;
}

#item-fiveth{
	background-color:#8cb9a2;
}

#item-sixth{
	background-color:#9a88aa;
}



/* vertical carousel indicators */

.carousel-indicators{
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	height:20px;
	right:10px; 
	left:auto;
	width:auto;
}

.carousel-indicators li{
	display:block; 
	margin-bottom:5px; 
	border:1px solid #000000; 
}

.carousel-indicators li.active{
	margin-bottom:5px; 
	background:#000000;
}

/* first intro */

.container.header-phone {
    margin-right: 100%;
}

img.phone-img-header {
    width: 250px;
    height: auto;
    float: left;
    margin: 3% auto auto 13%;
}

.logo-img{
	width: 500px;
	height: 500px;
	margin-right: 10%;

}

h1.header-desc {
    width: 600px;
    height: 120px;
    text-align: center;
    position: absolute;
    margin: 18% 0% 0% 40%;
    color:#fff;
}

/* second intro */
.hot-fill {
    
}

.hot-desc{
    width: 500px;
    height: auto;
    margin:15% auto auto 6%;
    float: left;
}

.hot-img{
	margin-top: 7%;
    margin-right: 5%;
    float: right;
}

/* third intro */

.learn-desc{
	margin: 16% 0% 0% 39%;
    position: absolute;
    z-index: 1;
    color: #fff;
}

.learn-img {
    position: absolute;
    margin: 0% 0% 0% 30%;
}

img#branch-l {
    float: left;
}

img#branch-r {
    float: right;
}

/* fourth intro */

.donate-desc{
	position: absolute;
	margin-left: 36%;
}

.donate-img{
	
}

.mao-l{
	float: left;
}

.mao-r{
	float: right;
}

/* fiveth intro */

.find-desc{
	position: absolute;
    font-size: 30px;
    width: 150px;
    height: 135px;
    margin-left: 48%;
    margin-top: 12%;
    color: azure;
}

/* sixth intro */

/*------------------------------ App ----------------------------*/

/*------------------------------ Map ----------------------------*/

/*------------------------------ Footer ----------------------------*/
