/*------------------------------ Responsive ----------------------------*/

@media (max-width:1024px) {
    
    /*------------------------------ Intro ----------------------------*/

    /* second intro */

    .hot-desc{
    	width: 400px;
    	margin: 18% 0% 0% 5%;
    }

    .hot-img{
    	margin-top: 8%;
    }

    /* third intro */

    img#branch-l, img#branch-r{
    	width: 500px;
    }

    .learn-img{
    	margin-left: 24%;
    }

    .learn-desc{
    	margin-top: 21%;
    	margin-left: 37%;
    } 

    /* fourth intro */

    .mao-r, .mao-l{
    	width: 400px;
    }

    .fruit-img{
    	margin-left: -37%;
    }

    .donate-desc{
    	margin-left: 36%;
    }

    /* fiveth intro */

    .map-div-desc{
    	margin-top: -44%;
    }

    .map-img{
    	width: 600px;
    }

    /* sixth intro */

    .trophy-img{
    	width: 550px;
    }

    img.podium-img{
    	width: 400px;
    	margin-top: 18%;
    	margin-left:-20%; 
    }

    /*------------------------------ App ----------------------------*/

    .img-google-play{
        width: 30%;
    }

}

@media (max-width:768px) {
    
    /*------------------------------ Intro ----------------------------*/

    /* first intro */



    img.phone-img-header{
    	margin-left: 5%;
    }

    h1.header-desc{
    	width: 450px;
    	margin-top:22%; 
    }

    /* second intro */

    .hot-img{
    	width: 400px;
    	margin-top: -18%;
    	margin-right: 3%;
    }

    .hot-desc{
    	margin-left: 0%;
    	width: 350px;
    }

    /* third intro */

    img#branch-l, img#branch-r{
    	width: 350px;
    }

    .learn-img{
    	margin-left: 22%;
    	width: 450px;
    }

    .learn-desc{
    	margin-top: 16%;
    	margin-left: 35%;
    	width: 250px;
    }
    /* fourth intro */

    .mao-r, .mao-l {
    	width: 300px;
	}

	.fruit-img {
    	margin-left: -42%;
    	width: 350px;
	}

	.donate-desc {
    	margin-left: 29%;
	}

    /* fiveth intro */


	/* six intro */
   
	.trophy-img {
    	width: 350px;
    	margin-top: 10%;
	}

	img.podium-img{
		margin-left: -27%;
	}


	/*------------------------------ App ----------------------------*/
	
	.img-google-play {
    	width: 40%;
	}

	/*------------------------------ Footer ----------------------------*/

	footer {
    	min-height: 30%;
	}
   

}


@media (max-width:425px) {
    
    /*------------------------------ Intro ----------------------------*/

    /* first intro */

    img.phone-img-header{
    	margin-left: -9%;
    	position: absolute;
    	width: 100px;
    }

    h1.header-desc{
    	width: 300px;
    	margin-top: 65%;
    	margin-left: 16%;
    }

    /* second intro */

    .hot-img{
    	margin-top: 18%;
    }

    .hot-desc {
    	margin-left: 9%;
	}

    /* third intro */

    img#branch-l, img#branch-r{
    	display: none;
    }

    .learn-img {
    	margin-left: 5%;
    	width: 400px;
	}

	.learn-desc {
    	margin-top: 23%;
    	margin-left: 24%;
	}

    /* fourth intro */

    .donate-desc {
    	margin-left: 8%;
	}

    .mao-r, .mao-l{
    	display: none;
    }

    .fruit-img {
    	margin-left: -41%;
    	margin-top: 30%;
	}


    /* fiveth intro */

    .map-div-desc {
    	margin-top: -115%;
   	}

   	.map-div-desc{
   		height: 100px;
   	}

    .map-img {
    	width: 400px;
    	margin-top: 30%;
	}

	.find-desc{
		margin-top: 3%;
	}

	/* six intro */

	h1.trophy-desc{
		position: absolute;
		margin: 3% 0% 0% 0%;
	}

	.trophy-img {
    	width: 300px;
    	margin-top: 56%;
	}

	img.podium-img{
		width: 300px;
		margin-left: -69%;
    	margin-top: 25%;
	}


	/*------------------------------ App ----------------------------*/
	
	.img-google-play {
    	width: 60%;
	}


	/*------------------------------ Footer ----------------------------*/

	footer {
    	min-height: 25%;
	}  
   

}

@media (max-width:375px) {
    
    /*------------------------------ Intro ----------------------------*/

    /* first intro */

    img.phone-img-header{
    	margin-left: -18%;
    	width: 150px;
    }

    h1.header-desc{
        margin-top: 85%;
    	margin-left: 11%;
    }

    /* second intro */

    .hot-img{
    	width: 350px;
    }

    .hot-desc {
    	margin-left: 4%;
	}

    /* third intro */

    .learn-img{
    	margin-left: 1%;
    }

    .learn-desc {
    	margin-top: 24%;
    	margin-left: 19%;
	}

    /* fourth intro */

    .fruit-img{
    	width: 300px;
    	margin-left: -39%; 
    }

    .donate-desc {
    	margin-left: 5%;
	}

    /* fiveth intro */

    .map-img{
    	width: 350px;
    	margin-top: 50%;
    }

    .map-div-desc{
    	margin-top: -125%;
    }

	/* six intro */

	.trophy-img{
		width: 250px;
	}

	img.podium-img{
		display: none;
	}

	h1.trophy-desc{
		margin: 20% 0% 0% 0%;
	}

	/*------------------------------ App ----------------------------*/

	.img-google-play{
		margin-bottom: 8%;
		width: 80%;
	} 
   

}

@media (max-width:375px) {
    
    /*------------------------------ Intro ----------------------------*/

    /* first intro */

    img.phone-img-header{
    	margin-left: -21%;
    }

    h1.header-desc {
    	margin-top: 100%;
    	margin-left: 5%;
	}

    /* second intro */

 	.hot-desc{
 		width: 300px;
 		margin-left: 3%;
 	}

    .hot-img {
    	width: 300px;
	}

    /* third intro */


    .learn-img{
        margin-top: 47%;
    	margin-left: 18%;
    	width: 210px;
    }

    /* fourth intro */

    .fruit-img{
    	margin-left: -46%;
    }

    /* fiveth intro */

    .map-img{
    	width: 300px;
    }


	/* six intro */

	/*------------------------------ App ----------------------------*/
 
   

}