/*------------------------------ Responsive ----------------------------*/

@media (max-width:1024px) {
    
    /*------------------------------ Intro ----------------------------*/

    /* second intro */

    .hot-desc{
    	width: 400px;
    	margin: 18% 0% 0% 5%;
    }

    .hot-img{
    	margin-top: 8%;
    }

    /* third intro */

    img#branch-l, img#branch-r{
    	width: 500px;
    }

    .learn-img{
    	margin-left: 24%;
    }

    .learn-desc{
    	margin-top: 21%;
    	margin-left: 37%;
    } 

    /* fourth intro */

    .mao-r, .mao-l{
    	width: 400px;
    }

    .fruit-img{
    	margin-left: -37%;
    }

    .donate-desc{
    	margin-left: 36%;
    }

    /* fiveth intro */

    .map-div-desc{
    	margin-top: -44%;
    }

    .map-img{
    	width: 600px;
    }

    /* sixth intro */

    .trophy-img{
    	width: 550px;
    }

    img.podium-img{
    	width: 400px;
    	margin-top: 18%;
    	margin-left:-20%; 
    }

    /*------------------------------ App ----------------------------*/

    .img-google-play{
        width: 30%;
    }

}

@media (max-width:768px) {
    
    /*------------------------------ Intro ----------------------------*/

    /* first intro */



    img.phone-img-header{
    	margin-left: 5%;
    }

    h1.header-desc{
    	width: 450px;
    	margin-top:22%; 
    }

    /* second intro */

    .hot-img{
    	width: 400px;
    	margin-top: -18%;
    	margin-right: 3%;
    }

    .hot-desc{
    	margin-left: 0%;
    	width: 350px;
    }

    /* third intro */

    img#branch-l, img#branch-r{
    	width: 350px;
    }

    .learn-img{
    	margin-left: 22%;
    	width: 450px;
    }

    .learn-desc{
    	margin-top: 16%;
    	margin-left: 35%;
    	width: 250px;
    }
    /* fourth intro */

    .mao-r, .mao-l {
    	width: 300px;
	}

	.fruit-img {
    	margin-left: -42%;
    	width: 350px;
	}

	.donate-desc {
    	margin-left: 29%;
	}

    /* fiveth intro */


	/* six intro */
   
	.trophy-img {
    	width: 350px;
    	margin-top: 10%;
	}

	img.podium-img{
		margin-left: -27%;
	}
    /*------------------------------ App ----------------------------*/

    

}