/*------------------------------ Responsive ----------------------------*/

@media (max-width:1024px) {
    
    /*------------------------------ Intro ----------------------------*/

    /* second intro */

    .hot-desc{
    	width: 400px;
    	margin: 18% 0% 0% 5%;
    }

    .hot-img{
    	margin-top: 8%;
    }

    /* third intro */

    img#branch-l, img#branch-r{
    	width: 500px;
    }

    .learn-img{
    	margin-left: 24%;
    }

    .learn-desc{
    	margin-top: 21%;
    	margin-left: 37%;
    } 

    /* fourth intro */

    .mao-r, .mao-l{
    	width: 400px;
    }

    .fruit-img{
    	margin-left: -37%;
    }

    .donate-desc{
    	margin-left: 36%;
    }

    /* fiveth intro */

    .map-div-desc{
    	margin-top: -44%;
    }

    .map-img{
    	width: 600px;
    }

    /* sixth intro */

    .trophy-img{
    	width: 550px;
    }

    img.podium-img{
    	width: 400px;
    	margin-top: 18%;
    	margin-left:-20%; 
    }

    /*------------------------------ App ----------------------------*/

    .img-google-play{
        width: 30%;
    }

}

@media (max-width:768px) {
    
    /*------------------------------ Intro ----------------------------*/

    /* second intro */


    /* fourth intro */



    /* fiveth intro */

   

    /*------------------------------ App ----------------------------*/

    

}